body {
  background: #f8f8f8;
  color: #333333;
  font-family: 'Open Sans', Arial;
}

a,
button {
  outline: none !important;
}

h1 {
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 26px;
  display: inline-block;
}

.welcome-header {
  margin-bottom: 25px;
  margin-left: 30px;
}

.subtitle {
  display: inline;
}

.btn {
  width: 170px;
  height: 35px;
  background-color: #e0cd78;
  border-color: #e0cd78;
  color: #fafbfc;
  border-radius: 0px;
}

.btn:hover {
  background-color: #d6be4f;
  color: #fafbfc;
  text-decoration: none;
}

.btn,
.btn:active,
.btn:focus {
  background-color: #e0cd78;
  color: #fafbfc;
  border-radius: 0px;
  text-decoration: none;
}

.create-book-btn {
  float: right;
  margin-top: -30px;
  margin-right: 150px;
}

.sort-btn {
  margin-bottom: 13px;
  margin-left: 15px;
}

.modal-btn:hover {
  background-color: #d6be4f;
  border-color: #d6be4f;
  color: #fafbfc;
}

.all-books-header {
  margin-left: 30px;
}

a .books {
  color: #333333;
}

.books {
  width: 400px;
  /*border-radius: 5px;*/
  margin-bottom: 20px;
  background-position: 0;
  background-size: cover;
  display: inline-block;
}

.books-reorder {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

.books-reorder > span {
  display: block;
  font-size: 25px;
}

.books-text {
  width: 400px;
  padding: 10px 15px 20px 20px;
  /*border-radius: 5px;*/
  /*margin-bottom: 20px;*/
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255,.9);
}

.books-title {
  margin: 15px 0 0 0;
  font-weight: bold;
  font-size: 17px;
}

.books-author {
  font-style: italic;
}

.books-pages {
  /*float: right;*/
  margin-right: 40px;
  display: block;
}

.authors {
  width: 400px;
  background-color: white;
  padding: 10px 15px 20px 20px;
  /*border-radius: 5px;*/
  margin-bottom: 20px;
}

.authors-title {
  margin-bottom: 15px;
  padding-top: 10px;
  border-bottom: solid #a7ccd5 1px;
  font-weight: bold;
}

.authors-author {
  color: #e0cd78;
  display: inline;
  font-size: 17px;
}

.book-count {
  float: right;
  font-weight: normal;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star.filled {
   color: #e0cd78;
}

.readonly .star.filled {
   color: #333333;
}

/**
 ** DETAILS STYLING
 **/

.details-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 70px;
  color: #d2d2d2;
}

.details-create-book-btn {
  float: right;
  margin-top: 25px;
  margin-right: 300px;
}

.details {
  margin: 0 auto;
  width: 850px;
  height: 400px;
}

.book-details {
  height: 400px;
}

.book-details-cover {
  background-position-x: center;
  background-position-y: center;
  /*background-position-y: 87%;*/
  /*background-size: cover;*/
  background-size: 150% auto;
  width: 300px;
  /*animation-name: cover-animation;*/
  /*animation-duration: 20s;*/

  /*-webkit-animation-name: MOVE-BG;*/
  /*-webkit-animation-duration: 10s;*/
  /*-webkit-animation-timing-function: linear;*/
  /*-webkit-animation-iteration-count: infinite;*/
}

/*@-webkit-keyframes MOVE-BG {*/
  /*from {*/
    /*-webkit-transform: translateX(0);*/
  /*}*/
  /*to {*/
    /*-webkit-transform: translateX(-550px);*/
  /*}*/
/*}*/

@keyframes cover-animation {
  from {
    background-position-y: 87%;
    background-position-x: center;
  }
  to {
    background-position-y: 25%;
    background-position-x: 0%;
  }
}

.book-details-text {
  width: 550px;
  padding: 10px 15px 20px 20px;
  background-color: white;
  margin-bottom: 50px;
}

.book-details-text-title {
  margin: 15px 0 0 0;
  font-weight: bold;
  font-size: 28px;
}

.book-details-text-author {
  font-weight: bolder;
  color: #e0cd78;
  text-transform: uppercase;
  font-size: 18px;
}

.book-details-rating {
  margin-bottom: 40px;
  bottom: 0;
  position: absolute;
}

.book-details-rating ul {
  padding-top: 25px;
}

.book-details-rating li {
  font-size: 25px;
}

.edit-book, a .edit-book {
  margin-right: 40px;
  font-size: 20px;
  color: #333333;
}

.edit-book:hover, a .edit-book:hover {
  cursor: pointer;
  color: #d6be4f;
}

.book-details-footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  height: 30px;
  width: inherit;
  margin-bottom: 20px;
}

/**
 ** FORMS STYLING
 **/

.form-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-btn {
  /*float: right;*/
}

.modal-btn-cancel {
  background-color: red;
}

.modal-title {
  font-size: 30px;
}

label {
  display: block;
}

/**
 ** MOBILE STYLING
 **/

@media (min-width: 1100px) {
  .container{
    max-width: 1170px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .create-book {
    display: flex;
  }

  .create-book-btn {
    margin-top: 20px;
  }

  .book-details-cover {
    width: 550px;
    height: 300px;
    background-position-x: center;
    background-position-y: center;
    /*background-size: cover;*/
    background-size: 100% auto;
  }

  .details-create-book-btn {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: -15px;
  }
}


