html, body {
  background: #f8f8f8;
  color: #333333;
  font-family: 'Open Sans', Arial, Helvetica;
}

a,
button {
  outline: none !important;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 26px;
  display: inline-block;
}

.welcome-header {
  margin-left: 30px;
}

/*.subtitle {*/
  /*display: inline;*/
/*}*/

.btn {
  width: 170px;
  height: 35px;
  background-color: #e0cd78;
  border-color: #e0cd78;
  color: #fafbfc;
  border-radius: 0px;
}

.btn:hover {
  background-color: #d6be4f;
  color: #fafbfc;
  text-decoration: none;
}

.btn,
.btn:active,
.btn:focus {
  background-color: #e0cd78;
  color: #fafbfc;
  border-radius: 0px;
  text-decoration: none;
}

/*.create-book-btn {*/
  /*float: right;*/
  /*margin-top: -30px;*/
  /*margin-right: 150px;*/
/*}*/

.sort-btn {
  margin-bottom: 13px;
  margin-left: 15px;
}

a .books {
  color: #333333;
}

.books-container {
  margin: 15px;
  display: inline-block;
}

.books {
  width: 400px;
  margin-bottom: 20px;
  background-position: 0;
  background-size: cover;
  display: inline-block;

  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.books:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.books-reorder {
  /*display: inline;*/
  /*text-align: center;*/
  margin-top: 5px;
}

.books-reorder > span {
  /*display: block;*/
  font-size: 25px;
}

.books-reorder-mobile {
  display: none;
}

@media (max-width: 767px) {
  .books-container {
    display: flex;
  }

  .books-reorder {
    display: none;
  }

  .books-reorder-mobile {
    display: inline-block;
    margin-right: 5px;
  }

  .books-reorder-mobile > span {
    display: block;
    font-size: 30px;
  }
}

.books-title,
.books-author {
  text-decoration: none;
  color: #333333;
}

.books-title:hover,
.books-author:hover {
  text-decoration: none;
  color: #e0cd78;
}

.books-text {
  width: 300px;
  padding: 10px 15px 20px 20px;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255,.9);


  height: 250px;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.books-text-odd {
  right: 0;
}

.books-text:nth-child(2n) {
  right: 0;
}

.books-title {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}

.books-author {
  font-style: italic;
}

.books-pages {
  /*float: right;*/
  margin-right: 40px;
  display: block;
}

.authors {
  width: 400px;
  background-color: white;
  padding: 10px 15px 20px 20px;
  /*border-radius: 5px;*/
  margin-bottom: 20px;
}

.authors-title {
  margin-bottom: 15px;
  padding-top: 10px;
  border-bottom: solid #a7ccd5 1px;
  font-weight: bold;
}

.authors-author {
  color: #e0cd78;
  display: inline;
  font-size: 17px;
}

.book-count {
  float: right;
  font-weight: normal;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star.filled {
   color: #e0cd78;
}

.readonly .star.filled {
   color: #333333;
}

/**
 ** BOOK & AUTHOR DETAILS STYLING
 **/

.details-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 70px;
  color: #d2d2d2;
}

.details-create-book-btn {
  float: right;
  margin-top: 25px;
  margin-right: 300px;
}

.details {
  margin: 0 auto;
  width: 850px;
  height: 400px;
}

.book-details {
  height: 400px;
}

.book-details-cover {
  background-position-x: center;
  background-position-y: center;
  background-size: 150% auto;
  width: 300px;
}

.author-details-cover {
  background-position-x: center;
  background-position-y: 50px;
  background-size: 100% auto;
  width: 300px;
}

.book-details-text {
  width: 550px;
  padding: 10px 15px 20px 20px;
  background-color: white;
  margin-bottom: 50px;
}

.book-details-text-title {
  margin: 15px 0 5px 0;
  font-weight: bold;
  font-size: 28px;
}

.book-details-text-author {
  font-weight: bolder;
  color: #e0cd78;
  text-transform: uppercase;
  font-size: 18px;
}

.book-details-rating {
  margin-bottom: 30px;
  /*bottom: 0;*/
  /*position: absolute;*/
}

.book-details-rating ul {
  padding-top: 25px;
}

.book-details-rating li {
  font-size: 25px;
}

.edit-book, a .edit-book {
  margin-right: 40px;
  font-size: 20px;
  color: #333333;
}

.edit-book:hover, a .edit-book:hover {
  cursor: pointer;
  color: #d6be4f;
}

.book-details-footer {
  position: absolute;
  bottom: 0;
  width: inherit;
  margin-bottom: 15px;
}

/**
 ** FORMS STYLING
 **/

.book-form {
  background-color: white;
  padding: 30px 40px;
}

.form-header {
  /*margin-top: 15px;*/
  margin-bottom: 15px;
  text-transform: uppercase;
}

input {
  box-shadow: none!important;
  border-radius: 0px;
}

.form-btn {
  /*float: right;*/
}

.form-btn-cancel {
   background-color: #d2d2d2;
   border-color: #d2d2d2;
   margin-top: 20px;
}

.form-btn-cancel a {
  color: white;
}

.form-btn-cancel:hover {
  background-color: grey;
  border-color: grey;
}

.modal-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.modal-btn {
  margin-top: 20px;
  float: right;
}

.modal-btn:hover {
  background-color: #d6be4f;
  border-color: #d6be4f;
  color: #fafbfc;
}

label {
  display: block;
  font-weight: 400;
}

/**
 ** AUTHORS DETAILS
 **/

.author-details-text-nationality {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
}

.author-details-text-author {
  font-weight: bolder;
  color: #e0cd78;
  text-transform: uppercase;
  font-size: 28px;
  margin: 15px 0 0 0;
}

/**
 ** MOBILE STYLING
 **/

@media (min-width: 1100px) {
  .container{
    max-width: 1170px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .create-book {
    display: flex;
  }

  .create-book-btn {
    margin-top: 20px;
  }

  .book-details-cover {
    width: 550px;
    height: 300px;
    background-position-x: center;
    background-position-y: center;
    /*background-size: cover;*/
    background-size: 100% auto;
  }

  .details-create-book-btn {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: -15px;
  }
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: center no-repeat;
  background-size: 150% auto;
}

.mdl-shadow--2dp {
  box-shadow: none;
}

.mdl-card__supporting-text {
  width: 100%;
}

.image-box{
  width:1000px;
  overflow:hidden;

  position: absolute;
  top: 0px;
  left: 0px;
}
.image {
  width:1000px;
  height:250px;
  background: url("http://lorempixel.com/300/200");
  background-position:center;
  background-size: 150% auto;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.image:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

/** AUTHOR LIST AND DETAILS **/

.author-name.list {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  color: #e0cd78;
}

.author-nationality.list {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
}

.author-books-available.list {
  /*font-style: italic;*/
}

.author-details-text-nationality {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
}



