<div class="container">
  <h2 class="details-title">{{bookAuthor.name}}/ Biography</h2>
  <div class="row">
    <div class="details">
      <div class="col-sm-6 book-details book-details-cover" ng-style="{'background-image':'url('+bookAuthor.photo+')'}">

      </div>
      <div class="col-sm-6 book-details book-details-text">
        <button ng-click="deleteAuthor(bookAuthor)" type="button" class="close">&times;</button>
        <p class="author-details-text-author">
          {{bookAuthor.name}}
          <span ng-click="selectAuthor(bookAuthor)" class="glyphicon glyphicon-pencil edit-book"></span>
        </p>
        <p class="author-details-text-nationality">{{bookAuthor.nationality}} Author</p>
        <br>
        <p>{{bookAuthor.bio}}</p>
        <!--<rating-star-directive class="book-details-rating" rating="{{book.rating}}" ng-model="book.rating" readonly=true></rating-star-directive><br>-->
        <div class="book-details-footer">
          <span class="books-publish-date">{{bookAuthor.dob | date}} – {{bookAuthor.dod | date}}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-8">
      <div>
        <div class="books-container" ng-repeat="book in bookAuthor.books | orderBy: 'book.title'">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" ng-style="{'background-image':'url('+book.cover+')'}">
              <!--<h2 class="mdl-card__title-text">{{book.title}}</h2>-->
            </div>
            <div class="mdl-card__supporting-text">
              <a href="#/book/{{book.id}}">
                <p class="books-title">
                  {{book.title}}
                </p>
              </a>
              <p class="books-author">by {{bookAuthor.name}}</p>
              <rating-star-directive rating="{{book.rating}}" ng-model="book.rating" readonly=true></rating-star-directive>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
