<div class="container">
  <h2 class="details-title">{{book.title}} / Details</h2>
  <!--<a href="#/bookForms" class="create-book">-->
    <!--<button type="button" class="btn btn-link details-create-book-btn">-->
      <!--<span class="glyphicon glyphicon-plus"></span>-->
      <!--Add a book!-->
    <!--</button>-->
  <!--</a>-->
  <div class="row">
    <div class="details">
      <div class="col-sm-6 book-details book-details-cover" ng-style="{'background-image':'url('+book.cover+')'}">

      </div>
      <div class="col-sm-6 book-details book-details-text">
        <button ng-click="deleteBook(book)" type="button" class="close">&times;</button>
        <p class="book-details-text-title">
          {{book.title}}
          <span ng-click="selectBook(book)" class="glyphicon glyphicon-pencil edit-book"></span>
        </p>
        <p class="book-details-text-author">by {{book.author}}</p>
        <br>
        <p>{{book.description}}</p>
        <!--<rating-star-directive class="book-details-rating" rating="{{book.rating}}" ng-model="book.rating" readonly=true></rating-star-directive><br>-->
        <div class="book-details-footer">
          <span class="books-publish-date">Published: {{book.publishDate | date}}</span>
          <span class="books-pages">Pages: {{book.pages}}</span>
          <rating-star-directive class="book-details-rating" rating="{{book.rating}}" ng-model="book.rating" readonly=true></rating-star-directive><br>
        </div>
      </div>
    </div>
  </div>
</div>
