  <div class="row">
    <div class="col-lg-12">
      <div class="welcome-header">
        <h2>All books</h2>
        <button class="btn sort-btn" ng-disabled="isSorted" ng-click="sortBooks()">Sort by Publish Date</button>
      </div>

      <div>
        <div class="books-container" ng-repeat="book in sortedBooksList | orderBy: 'order'">
          <div class="books-reorder-mobile">
          <span ng-click="book.order != 0 && moveOrder(book, true)"
                ng-class="{'text-muted': book.order == 0}" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-click="book.order <= sortedBooksList.length - 1 && moveOrder(book, false)"
                ng-class="{'text-muted': book.order >= sortedBooksList.length - 1}" class="glyphicon glyphicon-chevron-down"></span>
          </div>
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" ng-style="{'background-image':'url('+book.cover+')'}">
              <!--<h2 class="mdl-card__title-text">{{book.title}}</h2>-->
            </div>
            <div class="mdl-card__supporting-text">
              <a href="#/book/{{book.id}}">
                <p class="books-title">
                  {{book.title}}
                </p>
              </a>
              <a href="#/author/{{book.author.id}}">
                <p class="books-author">by {{book.author.name}}</p>
              </a>
              <rating-star-directive rating="{{book.rating}}" ng-model="book.rating" readonly=true></rating-star-directive>
            </div>
          </div>
          <div class="books-reorder">
          <span ng-click="book.order != 0 && moveOrder(book, true)"
                ng-class="{'text-muted': book.order == 0}" class="glyphicon glyphicon-chevron-left"></span>
          <span ng-click="book.order <= sortedBooksList.length - 1 && moveOrder(book, false)"
                ng-class="{'text-muted': book.order >= sortedBooksList.length - 1}" class="glyphicon glyphicon-chevron-right pull-right"></span>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-lg-6">-->
      <!--<h2>Authors</h2>-->

      <!--<div class="authors" ng-repeat="author in authorsList">-->
        <!--<div class="authors-title">-->
          <!--&lt;!&ndash;<p>{{sortedBooksList[0]}}</p>&ndash;&gt;-->
          <!--<p class="authors-author">{{author.name}} </p>-->
          <!--<span class="book-count">({{author.books.length}} available)</span>-->
        <!--</div>-->
        <!--<div ng-repeat="book in author.AuthorBooks">-->
          <!--<p>{{book.title}}</p>-->
          <!--<hr ng-if="!$last" />-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>

<!-- Create book modal -->

<div id="createBook" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="resetCreateForm()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Book</h4>
      </div>
      <div class="modal-body">
        <form class="create-form" role="form" ng-submit="createBook(newBook)">
          <div class="form-group">
            <label for="newBookTitle">Title</label>
            <input name="title" type="text" class="form-control" id="newBookTitle" ng-model="newBook.title" required>
          </div>
          <div class="form-group">
            <label for="newBookAuthor">Author</label>
            <input type="text" class="form-control" id="newBookAuthor" ng-model="newBook.author" required>
          </div>
          <div class="form-group">
            <label for="newBookPages">Pages</label>
            <input type="number" class="form-control" id="newBookPages" ng-model="newBook.pages" required>
          </div>
          <div class="form-group">
            <label for="newBookPublishDate">Publish Date</label>
            <input id="newBookPublishDate" ng-model="newBook.publishDate" class="form-control" type="date" max="{{today | date:'yyyy-MM-dd'}}" required>
          </div>
          <div class="form-group">
            <label for="newBookCover">Cover Image URL</label>
            <input type="url" class="form-control" id="newBookCover" ng-model="newBook.cover" required>
          </div>
          <div class="form-group">
            <label for="newBookRating">Rating</label>
            <div rating-star-directive rating="{{book.rating}}" id="newBookRating" ng-model="rating" max="5" on-rating-select="rateBook(rating)"></div>
          </div>

          <button type="submit" class="btn modal-btn">Create</button>
        </form>
        <br>
        <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
      </div>
    </div>
  </div>
</div>

<!-- Edit book modal -->

<div id="editBook" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book</h4>
      </div>
      <div class="modal-body">
        <form class="create-form" role="form" ng-submit="editBook(book)">
          <div class="form-group">
            <label for="bookTitle">Title</label>
            <input name="title" type="text" class="form-control" id="bookTitle" ng-model="book.title" required>
          </div>
          <div class="form-group">
            <label for="bookAuthor">Author</label>
            <input type="text" class="form-control" id="bookAuthor" ng-model="book.author" required>
          </div>
          <div class="form-group">
            <label for="bookPages">Pages</label>
            <input type="number" class="form-control" id="bookPages" ng-model="book.pages" required>
          </div>
          <div class="form-group">
            <label for="bookPublishDate">Publish Date</label>
            <input id="bookPublishDate" ng-model="book.publishDate" class="form-control" type="date" max="{{today | date:'yyyy-MM-dd'}}" required>
          </div>
          <div class="form-group">
            <label for="bookCover">Cover Image URL</label>
            <input type="url" class="form-control" id="bookCover" ng-model="book.cover" required>
          </div>
          <div class="form-group">
            <label for="newBookRating">Rating</label>
            <rating-star-directive id="bookRating" ng-model="rating" on-rating-select="rateBook(rating)"></rating-star-directive>
          </div>

          <button type="submit" class="btn modal-btn">Save</button>
        </form>
        <br>
        <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
      </div>
    </div>
  </div>
</div>
