<div class="container">
  <h1>Welcome to your library!</h1>
  <p class="lead">
    Feel free to browse, create, or delete!
  </p>

  <div>
    <button type="button" class="btn btn-link" ng-click="startCreating()">
      <span class="glyphicon glyphicon-plus"></span>
      Create a book to add!
    </button>

    <div ng-show="isCreating">
      <form class="create-form" ng-show="isCreating" role="form" ng-submit="createBook(newBook)">
        <div class="form-group">
          <label for="newBookTitle">Title</label>
          <input type="text" class="form-control" id="newBookTitle" ng-model="newBook.title" required>
        </div>
        <div class="form-group">
          <label for="newBookAuthor">Author</label>
          <input type="text" class="form-control" id="newBookAuthor" ng-model="newBook.author" required>
          <!--<textarea id="newBookAuthor" ng-model="newBook.author" class="form-control" placeholder="First Last"></textarea>-->
        </div>
        <div class="form-group">
          <label for="newBookPages">Pages</label>
          <input type="number" class="form-control" id="newBookPages" ng-model="newBook.pages" required>
        </div>
        <div class="form-group">
          <label for="newBookPublishDate">Publish Date</label>
          <input id="newBookPublishDate" ng-model="newBook.publishDate" class="form-control" type="date" required>
        </div>

        <button type="submit" class="btn btn-info btn-lg">Create</button>
        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel</button>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <h2>All books:</h2>
      <div ng-repeat="book in books | orderBy: 'publishDate'">
        <button ng-click="deleteBook(book)" type="button" class="close">&times;</button>
        <p>{{book.title}}</p>
        <cite>by {{book.author}}</cite>
        <p>Pages: {{book.pages}}</p>
        <p>Published: {{book.publishDate | date}}</p>
        <hr>
      </div>
    </div>

    <div class="col-lg-6 pull-right">
      <h2>Authors:</h2>

      <div ng-repeat="author in authorsList">
        <cite>{{author[0].author}} ({{author.length}} available)</cite>
        <div ng-repeat="book in author | orderBy: 'title'">
          <p>{{book.title}}</p>
        </div>
        <p>Book Count: {{author.length}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
