<div class="row marketing">
  <div id="container">
    <div class="home-page-background" id="navi">
      <div class="row">
        <div class="col-xs-6">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        <hr class="home-page-lines">
        </div>
        <div class="col-xs-6">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
          <hr class="home-page-lines">
        </div>
      </div>
    </div>
    <div class="home-page-text" id="infoi">
      <h1>LIBRARY<span>APP</span></h1>
      <p>your personal library</p>
    </div>
  </div>

</div>
